:root{
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/*Globsl color */

:root { 
  --background-color: #ffffff; 
  --default-color: #272829; 
  --heading-color: #050d18; 
  --accent-color: #149ddd; 
  --surface-color: #ffffff; 
  --contrast-color: #ffffff; 
}

:root {
    scroll-behavior: smooth;
}

/*Nav menu color */

:root{
    --nav-color:#a8a9b4;
    --nav-hover-color: #ffffffff;
    --nav-moblie-background-color: #040b14;
    --nav-dropdown-background-color: #040b14;
    --nav-dropdown-color:#a8a9b4;
    --nav-dropdown-hover-color: #ffffff;
}

/* General Styling & Shared Classes */

body{
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a{
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--heading-color);
    font-family: var(--heading-color);
}

/* Gloabal header */

.header {
    color: var(--default-color);
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    width: 300px;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.header .profile-img img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
}