:root{
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

:root { 
  --background-color: #ffffff; 
  --default-color: #272829; 
  --heading-color: #050d18; 
  --accent-color: #149ddd; 
  --surface-color: #ffffff; 
  --contrast-color: #ffffff; 
}